body {
  text-align: center;
  /* margin: 0 auto; */
}

#judges {
  display: flex;
  width: 600px;
  margin: 20px auto;
  justify-content: space-around;
}

/* .judge {
    background-color: black;
} */

img {
  width: 200px;
  height: auto;
}

.pass {
  font-weight: bold;
  color: green;
}
.failure {
  font-weight: bold;
  color: red;
}
